body{
    background-color: var(--lightblue);
    font-family: 'Times New Roman', Times, serif;
    color: var(--darkblue);
}

nav{
    background-color: var(--darkblue);
    color: ghostwhite;
    font-weight: bold;
    font-size: 1.5rem;
    height: 2.5rem;
}

nav > a{
    margin-left: 14rem;
}

nav > a:hover{
    color: yellowgreen;
}

main{
    text-align: justify;
    padding: 4rem;
    height: 39.2rem;
}

h1{
    margin-bottom: 2rem;
}

#news{
    box-shadow: -6px 10px 16px -2px black;
    padding: 2rem;
}

aside{
    text-align: end;
    font-weight: bold;
}

footer{
    text-align: center;
    font-size: 25px;
    background-color: var(--darkblue);
    color: ghostwhite;
    font-weight: bold;
    padding: 0.5rem;
}