/* --darkblue: #000821;
  --lightblue: #69AADD;
  --midblue: #0D2C5A;
  --grey: #76A392;
  --pear: #C4EC21; */

  /* Header and nav */

header{
    text-align: center;
    background: linear-gradient(to bottom, var(--lightblue),  var(--midblue));
    padding: 1.8rem;
    color: var(--ghostwhite);
}

nav{
    background-color: var(--midblue);
    color: #f8f8ff;
}

nav > a{
    padding: 13px;
    font-size: 1.1rem;
}

nav > a:hover{
    color: rgb(161, 161, 161);
}

/* Main */

body{
    background-color: var(--lightblue);
}

main{
    background-color: var(--ghostwhite);
    min-width: 300px;
    max-width: 1000px;
    padding: 2rem;
    margin: auto;
    box-shadow: 0px 20px 10px 15px rgba(0, 0, 0, 0.281);
}

div.video{
    background-color: var(--midblue);
    margin: 0px -20px 30px -20px;
    position: relative;    
    padding: 20px;
    padding-bottom: 50%;
}

div.video > iframe{
    width: 94%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 3%;
}

p{
    margin-bottom: 3rem;
    /* line-height: 2rem; */
}

aside{
    margin-bottom: 3rem;
}

main img{
    width: 100%;
}

main img#imgandroid{
    width: 50%;
    margin: auto;
}

aside{
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

aside > ul{
    padding: 17px;
    columns: 2;
    margin: auto;
    margin-bottom: 20px;
}

aside > h3{
    background-color: var(--midblue);
    padding: 5px;
    color: var(--ghostwhite);
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

/* Footer */

footer{
    background-color: var(--midblue);
    text-align: center;
    color: var(--ghostwhite);
    height: 50px;
    padding-top: 15px;
}