/* generic < class < id */
/* But id/class will extend the generic config */

body{
    background-color: var(--darkblue);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 5rem;
}

h1{
    color: var(--lightblue);
}

#main{
    text-align: center;
    font-weight: bold;
    color: var(--pear);
    background-color: var(--grey);
}

.basic{
    color: rgb(66, 160, 113);
}
.intermediate{
    color: rgb(157, 160, 66);
}
.advanced{
    color: rgb(160, 66, 66);
    font-weight: bolder;
}

.important{
    background-color: var(--pear);
    font-weight: bolder;
}

h2{
    color: var(--midblue);
}

p{
    color: var(--midblue);
}
